[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
uvicorn = "*"
alembic = "*"
python-dotenv = "*"
python-jose = {extras = ["cryptography"], version = "*"}
requests = "*"
python-multipart = "*"
bcrypt = "<4.0"
passlib = {extras = ["bcrypt"], version = ">=1.7.4"}
fastapi = ">=0.115"
fastapi-mail = "1.4.1"
pydantic = "2.11.0"
pydantic-settings = "2.11.0"

[dev-packages]

[requires]
python_version = "3.12"
