[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "0.117.1"
pydantic-settings = "2.10.1"
sqlalchemy = "*"
uvicorn = "*"
pydantic = {extras = ["email"], version = "*"}
alembic = "*"
python-dotenv = "*"
python-jose = {extras = ["cryptography"], version = "*"}
requests = "*"
python-multipart = "*"
bcrypt = "<4.0"
passlib = {extras = ["bcrypt"], version = ">=1.7.4"}

[dev-packages]

[requires]
python_version = "3.12"
